<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileshopxcc">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:networkSecurityConfig="@xml/network_config"
        android:allowBackup="true"
        android:name="com.example.mobileshopxcc.Common.MobileShopApp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activtity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activtity.AdActivity"/>
        <activity android:name=".activtity.MainActivity"/>
        <activity android:name=".activtity.LoginActivity"/>

        <activity android:name=".activtity.MyAddressActivity"/>
        <activity android:name=".activtity.MyCollectActivity"/>
        <activity android:name=".activtity.MyOrderActivity"/>
        <activity android:name=".activtity.ChangePwdActivity"/>
        <activity android:name=".activtity.GoodsDetailActivity"/>
        <activity android:name=".activtity.GoodsListActivity"/>
    </application>

</manifest>
